## Required arguments ##
bundle_db: 'bundles_{patch}_obs100_seed{seed}_v2.db' # Optional format fields {patch} and {seed}
atomic_db: 'atomic_db.sqlite'

n_bundles: 4
seed: 10  # Only needed for make_bundle_db unless included in format for bundle_db

## Optional shared arguments ##
query_restrict: "pwv < 2 AND median_weight_qu < 2e10 AND ((f_hwp > 1.9 AND f_hwp < 2.3) OR (f_hwp > -2.3 AND f_hwp < -1.9))"
only_make_db: False
patch: ["south"]  # Only needed for make_bundle_db unless included in format for bundle_db or map_string_format

## Optional for make_bundle_db ##
inter_obs_props:
  pwv: "median"
  dpwv: "median"
  sun_distance: "median"
  ambient_temperature: "median"
  azimuth:
    splits: [[0, 180], [180, 360]]
    names: ["rising_azimuth", "setting_azimuth"]
  roll_angle:
    splits: [[-47, -44], [-3, 3], [44, 47]]
    names: ["-45_roll_angle", "0_roll_angle", "+45_roll_angle"]
  f_hwp:
    splits: [[-2.3, -1.9], [1.9, 2.3]]
    names: ["neg_f_hwp", "pos_f_hwp"]
  scan_speed:
    splits: [[0.5, 0.51], [0.8, 0.81], [1.0, 1.1], [1.5, 1.6]]
    names: ["0.5_scan_speed", "0.8_scan_speed", "1.0_scan_speed", "1.5_scan_speed"]
  scan_acc:
    splits: [[0.25, 0.33], [0.54, 0.76], [0.76, 1.04], [1.48, 1.53]]
    names: ["0.25_scan_acc", "0.57_scan_acc", "0.9_scan_acc", "1.5_scan_acc"]
  ctime: "median"
  moon_distance: "median"

overwrite: False

## Required for bundle_maps ##
pix_type: 'car'
map_dir: "/cephfs/soukdata/sat_analysis/iso_data/v1/mapmaking/satp1_20250108/atomic_maps/"
output_dir: "out/v2/"
freq_channel: ["f150"] # May be a single string or a list
# Format fields {split}, {bundle_id}, {freq_channel} required. {patch}, {wafer} optional.
map_string_format: "{patch}/satp1_{freq_channel}_{wafer}_{split}_bundle{bundle_id}_{map_type}.fits"

## Optional for bundle_maps ##
intra_obs_splits:
  - "scan_left"
  - "scan_right"

intra_obs_pair:
  - "scan_left"
  - "scan_right"

inter_obs_splits:
  - "low_pwv"
  - "high_pwv"

car_map_template: "so_geometry_v20250306_sat_f090.fits"

wafer: null  # null, string, or list of strings
save_fnames: True

atomic_list: null
abscal: False
tel: null

## Coadding ##
# Also uses: output_dir, map_string_format, patch, wafer, freq_channel, n_bundles, pix_type

coadd_splits_name: "full"
coadd_split_pair:
  - "scan_left"
  - "scan_right"
coadd_bundles_splitname:
  - "full"
  - "scan_left"
  - "scan_right"
  - "low_pwv"
  - "high_pwv"
