context_file: 'use_this_local_260115.yaml'
plot_dir: '/scratch/gpfs/SIMONSOBS/external_data_e2e/v4/preprocessing/satp3_20251216_proc/preprocess_plots'
jobdb: '/scratch/gpfs/SIMONSOBS/sat-iso/v4/preprocessing/satp3_20251216_jobdb.db'

subobs:
  use: ['wafer_slot', 'wafer.bandpass']
  label: wafer_slot
  
archive:
  index: '/scratch/gpfs/SIMONSOBS/sat-iso/v4/preprocessing/satp3_20251216_proc/process_archive.sqlite'
  policy:
    type: 'simple'
    filename: '/scratch/gpfs/SIMONSOBS/sat-iso/v4/preprocessing/satp3_20251216_proc/preprocess_archive.h5'

process_pipe:
    - name: "detrend"
      skip_on_sim: False
      signal: "dsT"
      process:
        method: "linear"
        count: 2500

    - name: "detrend"
      skip_on_sim: False
      signal: "demodQ"
      process:
        method: "linear"
        count: 2500

    - name: "detrend"
      skip_on_sim: False
      signal: "demodU"
      process:
        method: "linear"
        count: 2500

    - name: "apodize"
      skip_on_sim: False
      process:
        signal_name: "dsT"
        apodize_samps: 2000

    - name: "apodize"
      skip_on_sim: False
      process:
        signal_name: "demodQ"
        apodize_samps: 2000

    - name: "apodize"
      skip_on_sim: False
      process:
        signal_name: "demodU"
        apodize_samps: 2000

    - name : "estimate_t2p"
      skip_on_sim: True
      fit_in_freq : True
      calc:
        T_sig_name: 'dsT'
        Q_sig_name: 'demodQ'
        U_sig_name: 'demodU'
      calc_and_save: True
      save: True
      select: {}

    - name : "subtract_t2p"
      skip_on_sim: True
      process: {}

    - name: "azss"
      skip_on_sim: True  # No estimation on sims
      calc:
        signal: 'dsT'
        azss_stats_name: 'azss_statsT_left'
        azrange: [-1.57079, 7.85398]
        bins: 1351 # This is 0.4 deg bins.
        flags: 'glitch_flags_right'
        merge_stats: True
        merge_model: False
      save: True
      process:
        subtract: False

    - name: "subtract_azss_template"
      skip_on_sim: False
      process:
        signal: 'dsT'
        azss: 'azss_statsT_left'
        method: 'interpolate'
        scan_flags: 'right_scan'
        subtract: True

    - name: "azss"
      skip_on_sim: True  # No estimation on sims
      calc:
        signal: 'demodQ'
        azss_stats_name: 'azss_statsQ_left'
        azrange: [-1.57079, 7.85398]
        bins: 1351 # This is 0.4 deg bins.
        flags: 'glitch_flags_left'
        merge_stats: True
        merge_model: False
      save: True
      process:
        subtract: False
        
    - name: "subtract_azss_template"
      skip_on_sim: False
      process:
        signal: 'demodQ'
        azss: 'azss_statsQ_left'
        method: 'interpolate'
        scan_flags: 'left_scan'
        subtract: True

    - name: "azss"
      skip_on_sim: True  # No estimation on sims
      calc:
        signal: 'demodU'
        azss_stats_name: 'azss_statsU_left'
        azrange: [-1.57079, 7.85398]
        bins: 1351 # This is 0.4 deg bins.
        flags: 'glitch_flags_left'
        merge_stats: True
        merge_model: False
      save: True
      process:
        subtract: False

    - name: "subtract_azss_template"
      skip_on_sim: False
      process:
        signal: 'demodU'
        azss: 'azss_statsU_left'
        method: 'interpolate'
        scan_flags: 'left_scan'
        subtract: True

    - name: "azss"
      skip_on_sim: True  # No estimation on sims
      calc:
        signal: 'dsT'
        azss_stats_name: 'azss_statsT_right'
        azrange: [-1.57079, 7.85398]
        bins: 1351 # This is 0.4 deg bins.
        flags: 'glitch_flags_right'
        merge_stats: True
        merge_model: False
      save: True
      process:
        subtract: False

    - name: "subtract_azss_template"
      skip_on_sim: False
      process:
        signal: 'dsT'
        azss: 'azss_statsT_right'
        method: 'interpolate'
        scan_flags: 'right_scan'
        subtract: True

    - name: "azss"
      skip_on_sim: True  # No estimation on sims
      calc:
        signal: 'demodQ'
        azss_stats_name: 'azss_statsQ_right'
        azrange: [-1.57079, 7.85398]
        bins: 1351 # This is 0.4 deg bins.
        flags: 'glitch_flags_right'
        merge_stats: True
        merge_model: False
      save: True
      process:
        subtract: False

    - name: "subtract_azss_template"
      skip_on_sim: False
      process:
        signal: 'demodQ'
        azss: 'azss_statsQ_right'
        method: 'interpolate'
        scan_flags: 'right_scan'
        subtract: True

    - name: "azss"
      skip_on_sim: True  # No estimation on sims
      calc:
        signal: 'demodU'
        azss_stats_name: 'azss_statsU_right'
        azrange: [-1.57079, 7.85398]
        bins: 1351 # This is 0.4 deg bins.
        flags: 'glitch_flags_right'
        merge_stats: True
        merge_model: False
      save: True
      process:
        subtract: False

    - name: "subtract_azss_template"
      skip_on_sim: False
      process:
        signal: 'demodU'
        azss: 'azss_statsU_right'
        method: 'interpolate'
        scan_flags: 'right_scan'
        subtract: True

    - name: "psd"
      skip_on_sim: True
      signal: "demodQ"
      wrap: "psdQ"
      process:
        # max_samples: 524288 #2**19
        merge: False
        nperseg: 200000
        noverlap: 0
        full_output: True

    - name: "psd"
      skip_on_sim: True
      signal: "demodU"
      wrap: "psdU"
      process:
        # max_samples: 524288 #2**19
        merge: False
        nperseg: 200000
        noverlap: 0
        full_output: True

    - name: "noise"
      skip_on_sim: True
      fit: True
      subscan: False
      psd: "psdQ"
      calc:
        fwhite: [0.5, 1.75]
        lowf: 1.0e-4
        f_max: 1.9
        fknee_est: 1.0e-3
        alpha_est: 2.0
        fixed_param: 'wn'
        binning: True
        merge_name: 'noise_fit_statsQ'
        bounds:
          - [1.0e-4, 1.0] # lower bound fknee, alpha
          - [0.1, 3.0] # upper bound fknee, alpha
        fit_method: 'log_curve_fit'
        curve_fit_kwargs:
          maxfev: 20000
      save:
        wrap_name: "noiseQ"
      select:
        require_finite_fit: True

    - name: "noise"
      skip_on_sim: True
      fit: True
      subscan: False
      psd: "psdU"
      calc:
        fwhite: [0.5, 1.75]
        lowf: 1.0e-4
        f_max: 1.9
        fknee_est: 1.0e-3
        alpha_est: 2.0
        fixed_param: 'wn'
        binning: True
        merge_name: 'noise_fit_statsU'
        bounds:
          - [1.0e-4, 1.0] # lower bound fknee, alpha
          - [0.1, 3.0] # upper bound fknee, alpha
        fit_method: 'log_curve_fit'
        curve_fit_kwargs:
          maxfev: 20000
      save:
        wrap_name: "noiseU"
      select:
        require_finite_fit: True

    - name: "fourier_filter"
      skip_on_sim: False
      signal_name: "demodQ"
      wrap_name: "demodQ"
      process:
        filt_function: "counter_1_over_f"
        noise_fit_array: "noiseQ"
        filter_params:
          each_detector: True

    - name: "fourier_filter"
      skip_on_sim: False
      signal_name: "demodU"
      wrap_name: "demodU"
      process:
        filt_function: "counter_1_over_f"
        noise_fit_array: "noiseU"
        filter_params:
          each_detector: True

    - name: "sub_polyf"
      process:
        signal_name: "dsT"
        degree: 9
        in_place: True
        mask: "glitch_flags"

    - name: "sub_polyf"
      process:
        signal_name: "demodQ"
        degree: 1
        in_place: True
        mask: "glitch_flags"

    - name: "sub_polyf"
      process:
        signal_name: "demodU"
        degree: 1
        in_place: True
        mask: "glitch_flags"

    - name : 'scan_freq_cut'
      skip_on_sim: False
      process:
        signal_name_T: 'dsT'
        signal_name_Q: 'demodQ'
        signal_name_U: 'demodU'

    - name: "inv_var_flags"
      calc:
        signal_name: 'demodQ'
        nsigma: 2
      save: True
      select: True
                                                   
    - name: "split_flags"
      skip_on_sim: True
      calc:
        right_focal_plane: 0
        top_focal_plane: 0
        central_pixels: 0.20023039
        high_gain: 0.115
        high_noise: 3.5e-5
        high_tau: 1.5e-3
        det_A: A
        pol_angle: 35
        crossover: BL
        high_leakage: 1.0e-3
        high_2f: 1.5e-3
      save: True

    - name: "psd"
      skip_on_sim: True  # We won't need this from sims
      signal: "demodQ"
      wrap: "psdQ_mapmaking"
      process:
        max_samples: 524288 #2**19
        merge: False
        nperseg: 65536 #2**16
        noverlap: 0
        full_output: True

    - name: "noise"
      skip_on_sim: True  # We won't need this from sims
      psd: "psdQ_mapmaking"
      fit: False
      calc:
        low_f: 1
        high_f: 2
      save:
        wrap_name: "noiseQ_mapmaking"

    - name: "psd"
      skip_on_sim: True  # We won't need this from sims
      signal: "demodU"
      wrap: "psdU_mapmaking"
      process:
        max_samples: 524288 #2**19
        merge: False
        nperseg: 65536 #2**16
        noverlap: 0
        full_output: True

    - name: "noise"
      skip_on_sim: True  # We won't need this from sims
      psd: "psdU_mapmaking"
      fit: False
      calc:
        low_f: 1
        high_f: 2
      save:
        wrap_name: "noiseU_mapmaking"